$breakpoints: (
    "ssm": (
        min-width: 320px,
    ),
    "sm": (
        min-width: 640px,
    ),
    "md": (
        min-width: 768px,
    ),
    "lg": (
        min-width: 1024px,
    ),
    "xl": (
        min-width: 1280px,
    ),
) !default;

@mixin media($breakpoint: "sm") {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.prefecture-list-container {
    width: 100%;
    min-width: 300px;
    height: auto;
    padding: 10px;
}

ul.prefecture-list {
    width: 100%;
    border: solid 1px rgba(51, 51, 51, 0.5);
    border-radius: 4px;
    background-color: gainsboro;
    display: grid;
    padding: 15px;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);

    li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 4px;
        border-bottom: solid 1px gray;
        text-align: center;

        input {
            margin-right: 10px;
        }
    }

    @include media(ssm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media(md) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media(lg) {
        grid-template-columns: repeat(8, 1fr);
    }

    @include media(xl) {
        max-width: 1400px;
        grid-template-columns: repeat(4, 1fr);
    }
}
